.header-links {
    display: inline-block;
    padding-bottom: 23px;
    margin: 7px 30px 0;
    text-decoration: none;
    color: #515e6d;
}

.active {
    color: #0077ff;
    font-weight: bold;
    border-bottom: 2px solid #0077ff;
}

.disabled {
    cursor: default;
}