.main-content {
    width: 80%;
    float: right;
    margin: 20px 50px auto 0;
}

.content-heading {
    margin-bottom: 20px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.content-grid {
    min-height: 300px;
}